:root {
  --yellow: #ffcd1e;
  --pink: #ff008e;
  --lightGray: #e1e1e6; 
  --gray: #c4c4cc;
  --darkGray: #8d8d99;

  --backgroundColor: #121214;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body {
  color: var(--lightGray);
  background-color: var(--backgroundColor);
}